*bin/
*obj/
*Bin/
TaiwanPP.WP8App/TaiwanPP.WP8App-WIN-QVDGHRJLTMI.csproj
*楊可倫-Desktop*
*楊可倫-Laptop*
*/bin/*
*/packages/*
TaiwanPP.Library/bin/Debug/Newtonsoft.Json.dll
TaiwanPP.Library/bin/Debug/Newtonsoft.Json.xml
TaiwanPP.Library/bin/Debug/OxyPlot.dll
TaiwanPP.Library/bin/Debug/OxyPlot.pdb
TaiwanPP.Library/bin/Debug/OxyPlot.xml
TaiwanPP.Library/bin/Debug/SQLite.Net.Async.dll
TaiwanPP.Library/bin/Debug/SQLite.Net.dll
TaiwanPP.Library/bin/Debug/System.Net.Http.dll
TaiwanPP.Library/bin/Debug/System.Net.Http.Extensions.dll
TaiwanPP.Library/bin/Debug/System.Net.Http.Primitives.dll
TaiwanPP.Library/bin/Debug/TaiwanPP.Library.dll
TaiwanPP.Library/bin/Debug/TaiwanPP.Library.pdb
TaiwanPP.Library/bin/Release/Newtonsoft.Json.dll
TaiwanPP.Library/bin/Release/Newtonsoft.Json.xml
TaiwanPP.Library/bin/Release/OxyPlot.dll
TaiwanPP.Library/bin/Release/OxyPlot.pdb
TaiwanPP.Library/bin/Release/OxyPlot.xml
TaiwanPP.Library/bin/Release/SQLite.Net.Async.dll
TaiwanPP.Library/bin/Release/SQLite.Net.dll
TaiwanPP.Library/bin/Release/System.Net.Http.dll
TaiwanPP.Library/bin/Release/System.Net.Http.Extensions.dll
TaiwanPP.Library/bin/Release/System.Net.Http.Primitives.dll
TaiwanPP.Library/bin/Release/TaiwanPP.Library.dll
TaiwanPP.Library/bin/Release/TaiwanPP.Library.pdb
